.page {
  display: flex;

  height: 100vh;

  font-size: rem(18);


  &__showcase {
    flex: 1 1 auto;

    padding: rem(28);

    background-color: #141a0d;
  }


  &__control-panel {
    overflow-y: scroll;

    flex: 0 0 rem(360);

    padding: rem(28);

    background-color: #1a1f15;
  }


  &__showcase-body,
  &__control-panel-body {
    width: 100%;
    height: 100%;
  }


  &__showcase-body {
    position: relative;

    height: 100%;
    padding: rem(32) rem(20);

    border: rem(2) solid #0e4e0f;
    border-radius: rem(4);
    background: radial-gradient(#153817, #0a160d);
    box-shadow: inset 0 0 rem(4) 0 rgba(#38fe3a, 0.4);
  }

  &__preloader {
    position: absolute;
    top: 10%;
    left: 50%;

    width: 80%;

    transform: translate3d(-50%, 0, 0);
  }


  &__showcase-content {
    width: 100%;
    height: 100%;
  }


  &__control-panel-item {
    width: 100%;
    margin-bottom: rem(28);
  }
}
