.preloader {
  height: rem(20);

  border-radius: rem(2);
  background-color: rgba(#226621, 0.4);

  &__progressbar {
    width: 0%;
    height: 100%;

    background-color: #38fe3a;
    box-shadow: 0 0 rem(4) rgba(#38fe3a, 0.4);
  }
}
