block vars


doctype html
html(lang='ru-RU')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='imagetoolbar' content='no')
    meta(name='msthemecompatible' content='no')
    meta(name='cleartype' content='on')
    meta(name='HandheldFriendly' content='True')

    meta(name='theme-color' content='#003399')

    title= pageTitle || ''
    meta(name='description' content=pageDescription || '')
    meta(name='keywords' content=pageKeywords || '')

    link(rel='stylesheet' href='/css/foundation.css')
    link(rel='stylesheet' href='/css/style.css')
      

  body
    block body
    
    script(src='/js/app.js')