extends _general

block vars
  - let pageTitle = 'Vending Machine';

block body 
  .page
    .page__showcase
      #showcase.page__showcase-body

    .page__control-panel
      #control-panel.page__control-panel-body