.product-list {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;

  padding-left: 0; // Reset ul style
  margin-top: 0; // Reset ul style
  margin-right: rem(-14);
  margin-bottom: 0; // Reset ul style

  list-style: none; // Reset ul style


  &__item {
    flex: 0 0 calc(33% - #{rem(10)}); /* stylelint-disable-line function-calc-no-invalid */
    margin-right: rem(5);
    margin-bottom: rem(16);
    margin-left: rem(5);

    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
