// All sizes are in px, 
// unless otherwise specified.

// ---- COLORS ----

$color-white: #ffffff;
$color-black: #000000;

$color-clear-blue: #2c74fe;
$color-pale-peach: #f5e3ba;
$color-desert: #fff7e0;
$color-darkish-blue: #003399;
$color-grey: #cccccc;
$color-warm-grey: #8f8c86;
$color-weed-white: #edffe0;

$color-primary: $color-clear-blue;
$color-accent: $color-pale-peach;
$color-accent-light: $color-desert;

$color-heading: $color-black;
$color-paragraph: $color-black;

$color-logo: $color-darkish-blue;

$color-link: $color-clear-blue;
$color-link-unactive: $color-warm-grey;

$color-button: $color-clear-blue;
$color-button-active: $color-pale-peach;

$color-border: $color-pale-peach;
$color-border-focus: $color-clear-blue;

$color-input-placeholder: $color-warm-grey;




// ---- TRANSITIONS ----

$transition-duration-very-slow: 1000ms;
$transition-duration-slow: 350ms;
$transition-duration-medium: 200ms;
$transition-duration-fast: 175ms;




// ---- BREAKPOINTS ----

$breakpoints: (
  sm: 320,
  md: 768,
  lg: 1024,
  max: 1200,
);




// ---- GRID ----

$grid: (
  sm: (
    gutter-width: 6,
    outside-gutter-width: 19,
  ),

  md: (
    gutter-width: 24,
    outside-gutter-width: 36,
  ),

  lg: (
    gutter-width: 32,
    outside-gutter-width: 48,
  ),
);

$grid-max-container-width: map-get($breakpoints, max);

$gutter-width-sm: 6;
$gutter-width-md: 24;
$gutter-width-lg: 32;

$outside-gutter-width-sm: 19;
$outside-gutter-width-md: 36;
$outside-gutter-width-lg: 48;




// ---- SPACES ----

$spaces: (
  sm: (
    xxs: 6,
    xs: 14,
    s: 20,
    m: 34,
    l: 46,
    xl: 80,
    xxl: 106,
    3xl: 120,
    4xl: 160,
  ),

  md: (
    xxs: 8,
    xs: 16,
    s: 24,
    m: 40,
    l: 56,
    xl: 96,
    xxl: 128,
    3xl: 144,
    4xl: 192,
  ),

  lg: (
    xxs: 8,
    xs: 16,
    s: 32,
    m: 56,
    l: 80,
    xl: 128,
    xxl: 168,
    3xl: 192,
    4xl: 264,
  ),
);




// ---- FONTS ----

$primary-font-family: 'Monaco', monospace;

$secondary-font-family: 'PT Sans', Helvetica, Arial, -apple-system, 
                        system-ui, BlinkMacSystemFont, 'Segoe UI', 
                        Roboto, 'Helvetica Neue', sans-serif;




// ---- HEADINGS ----

$headings: (
  sm: (
    1: (
      margin-bottom: 12,
      font-size: 38,
      line-height: 46,

      extras: (
        link: (
          line-height: 52,
          margin-bottom: 10,
        ),
      ),
    ),

    2: (
      margin-bottom: 10,
      font-size: 34,
      line-height: 40,

      extras: (
        link: (
          line-height: 46,
          margin-bottom: 8,
        ),
      ),
    ),

    3: (
      margin-bottom: 6,
      font-size: 22,
      line-height: 26,

      extras: (
        link: (
          line-height: 30,
          margin-bottom: 4,
        ),
      ),
    ),

    4: (
      margin-bottom: 4,
      font-size: 18,
      line-height: 22,

      extras: (
        link: (
          line-height: 24,
          margin-bottom: 4,
        ),
      ),
    ),

    5: (
      margin-bottom: 2,
      font-size: 16,
      line-height: 20,

      extras: (
        link: (
          line-height: 22,
          margin-bottom: 2,
        ),
      ),
    )
  ),


  md: (
    1: (
      margin-bottom: 18,
      font-size: 44,
      line-height: 54,

      extras: (
        link: (
          line-height: 60,
          margin-bottom: 14,
        ),
      ),
    ),

    2: (
      margin-bottom: 14,
      font-size: 40,
      line-height: 48,

      extras: (
        link: (
          line-height: 54,
          margin-bottom: 12,
        ),
      ),
    ),

    3: (
      margin-bottom: 12,
      font-size: 26,
      line-height: 32,

      extras: (
        link: (
          line-height: 36,
          margin-bottom: 10,
        ),
      ),
    ),

    4: (
      margin-bottom: 8,
      font-size: 22,
      line-height: 26,

      extras: (
        link: (
          line-height: 30,
          margin-bottom: 8,
        ),
      ),
    ),

    5: (
      margin-bottom: 4,
      font-size: 18,
      line-height: 22,

      extras: (
        link: (
          line-height: 24,
          margin-bottom: 4,
        ),
      ),
    ),
  ),


  lg: (
    1: (
      margin-bottom: 24,
      font-size: 54,
      line-height: 64,

      extras: (
        link: (
          line-height: 74,
          margin-bottom: 18,
        ),
      ),
    ),

    2: (
      margin-bottom: 20,
      font-size: 48,
      line-height: 56,

      extras: (
        link: (
          line-height: 64,
          margin-bottom: 16,
        ),
      ),
    ),

    3: (
      margin-bottom: 16,
      font-size: 32,
      line-height: 38,

      extras: (
        link: (
          line-height: 44,
          margin-bottom: 14,
        ),
      ),
    ),

    4: (
      margin-bottom: 12,
      font-size: 28,
      line-height: 32,

      extras: (
        link: (
          line-height: 38,
          margin-bottom: 10,
        ),
      ),
    ),

    5: (
      margin-bottom: 4,
      font-size: 18,
      line-height: 22,

      extras: (
        link: (
          line-height: 24,
          margin-bottom: 4,
        ),
      ),
    ),
  ),
);

$heading-sizes-sm: (
  1: (
    margin-bottom: 12,
    font-size: 38,
    line-height: 46,
    line-height-link: 52,
    margin-bottom-link: 10
  ),
  2: (
    margin-bottom: 10,
    font-size: 34,
    line-height: 40,
    line-height-link: 46,
    margin-bottom-link: 8
  ),
  3: (
    margin-bottom: 6,
    font-size: 22,
    line-height: 26,
    line-height-link: 30,
    margin-bottom-link: 4
  ),
  4: (
    margin-bottom: 4,
    font-size: 18,
    line-height: 22,
    line-height-link: 24,
    margin-bottom-link: 4
  ),
  5: (
    margin-bottom: 2,
    font-size: 16,
    line-height: 20,
    line-height-link: 22,
    margin-bottom-link: 2
  )
);

$heading-sizes-md: (
  1: (
    margin-bottom: 18,
    font-size: 44,
    line-height: 54,
    line-height-link: 60,
    margin-bottom-link: 14
  ),
  2: (
    margin-bottom: 14,
    font-size: 40,
    line-height: 48,
    line-height-link: 54,
    margin-bottom-link: 12
  ),
  3: (
    margin-bottom: 12,
    font-size: 26,
    line-height: 32,
    line-height-link: 36,
    margin-bottom-link: 10
  ),
  4: (
    margin-bottom: 8,
    font-size: 22,
    line-height: 26,
    line-height-link: 30,
    margin-bottom-link: 8
  ),
  5: (
    margin-bottom: 4,
    font-size: 18,
    line-height: 22,
    line-height-link: 24,
    margin-bottom-link: 4
  )
);

$heading-sizes-lg: (
  1: (
    margin-bottom: 24,
    font-size: 54,
    line-height: 64,
    line-height-link: 74,
    margin-bottom-link: 18
  ),
  2: (
    margin-bottom: 20,
    font-size: 48,
    line-height: 56,
    line-height-link: 64,
    margin-bottom-link: 16
  ),
  3: (
    margin-bottom: 16,
    font-size: 32,
    line-height: 38,
    line-height-link: 44,
    margin-bottom-link: 14
  ),
  4: (
    margin-bottom: 12,
    font-size: 28,
    line-height: 32,
    line-height-link: 38,
    margin-bottom-link: 10
  ),
  5: (
    margin-bottom: 4,
    font-size: 18,
    line-height: 22,
    line-height-link: 24,
    margin-bottom-link: 4
  )
);




// ---- PARAGRAPHS ----

$paragraphs: (
  sm: (
    s: (
      margin-bottom: 12,
      font-size: 14,
      line-height: 18,
    ),

    m: (
      margin-bottom: 14,
      font-size: 16,
      line-height: 24,
    ),

    l: (
      margin-bottom: 18,
      font-size: 18,
      line-height: 26,
    ),

    xl: (
      margin-bottom: 24,
      font-size: 20,
      line-height: 30,
    ),
  ),


  md: (
    s: (
      margin-bottom: 14,
      font-size: 16,
      line-height: 24,
    ),

    m: (
      margin-bottom: 18,
      font-size: 18,
      line-height: 28,
    ),

    l: (
      margin-bottom: 18,
      font-size: 20,
      line-height: 28,
    ),

    xl: (
      margin-bottom: 24,
      font-size: 22,
      line-height: 32,
    ),
  ),


  lg: (
    s: (
      margin-bottom: 18,
      font-size: 16,
      line-height: 24,
    ),

    m: (
      margin-bottom: 24,
      font-size: 18,
      line-height: 28,
    ),

    l: (
      margin-bottom: 32,
      font-size: 22,
      line-height: 32,
    ),

    xl: (
      margin-bottom: 32,
      font-size: 24,
      line-height: 34,
    ),
  ),
);

$paragraph-sizes-sm: (
  xl: (
    margin-bottom: 24,
    font-size: 20,
    line-height: 30,
  ),
  l: (
    margin-bottom: 18,
    font-size: 18,
    line-height: 26,
  ),
  m: (
    margin-bottom: 14,
    font-size: 16,
    line-height: 24,
  ),
  s: (
    margin-bottom: 12,
    font-size: 14,
    line-height: 18,
  ),
);

$paragraph-sizes-md: (
  xl: (
    margin-bottom: 24,
    font-size: 22,
    line-height: 32,
  ),
  l: (
    margin-bottom: 18,
    font-size: 20,
    line-height: 28,
  ),
  m: (
    margin-bottom: 18,
    font-size: 18,
    line-height: 28,
  ),
  s: (
    margin-bottom: 14,
    font-size: 16,
    line-height: 24,
  ),
);

$paragraph-sizes-lg: (
  xl: (
    margin-bottom: 32,
    font-size: 24,
    line-height: 34,
  ),
  l: (
    margin-bottom: 32,
    font-size: 22,
    line-height: 32,
  ),
  m: (
    margin-bottom: 24,
    font-size: 18,
    line-height: 28,
  ),
  s: (
    margin-bottom: 18,
    font-size: 16,
    line-height: 24,
  ),
);




// ---- SMALL TEXT ----

$small-text: (
  sm: (
    font-size: 16,
    line-height: 20,

    extras: (
      link: (
        line-height: 22,
      ),
    ),
  ),

  md: (
    font-size: 18,
    line-height: 22,

    extras: (
      link: (
        line-height: 24,
      ),
    ),
  ),

  lg: (
    font-size: 18,
    line-height: 22,

    extras: (
      link: (
        line-height: 24,
      ),
    ),
  ),
);

$small-text-sizes-sm: (
  font-size: 16,
  line-height: 20,
  line-height-link: 22,
);

$small-text-sizes-md: (
  font-size: 18,
  line-height: 22,
  line-height-link: 24,
);

$small-text-sizes-lg: (
  font-size: 18,
  line-height: 22,
  line-height-link: 24,
);




// ---- MAJOR LINK ----

$major-link: (
  sm: (
    font-size: 20,
    line-height: 26,
  ),

  md: (
    font-size: 24,
    line-height: 32,
  ),

  lg: (
    font-size: 28,
    line-height: 38,
  ),
);

$major-link-sizes-sm: (
  font-size: 20,
  line-height: 26,
);

$major-link-sizes-md: (
  font-size: 24,
  line-height: 32,
);

$major-link-sizes-lg: (
  font-size: 28,
  line-height: 38,
);