.form {
  display: flex;
  flex-direction: column;

  margin-bottom: rem(56);

  &__label {
    margin-bottom: rem(16);
  }

  &__input-container {
    position: relative;

    margin-bottom: rem(16);

    &::after {
      position: absolute;
      top: rem(16);
      left: rem(14);

      display: block;

      content: '>';

      color: #63e0ed;

      text-shadow: 0 0 rem(4) rgba(#63e0ed, 0.3);

      font-size: rem(22);
    }

    &_off {

      &::after {
        display: none;
      }
    }
  }

  &__input {
    @include placeholder(#63e0ed);

    width: 100%;
    height: rem(60);
    padding: 0 rem(16) 0 rem(32);

    transition: border 400ms ease-in;

    color: #63e0ed;
    border: rem(2) solid rgba(#63e0ed, 0.4);
    border-radius: rem(4);
    background: radial-gradient(#17713c, #125f32);

    vertical-align: middle;
    text-shadow: 0 0 rem(4) rgba(#63e0ed, 0.3);

    &:focus {
      border-color: rgba(#63e0ed, 0.8);
      outline: none;
    }

    &_disable {
      background-image: radial-gradient(darken(#17713c, 10%), darken(#125f32, 12%));
    }
  }


  &__desc {
    width: 90%;

    color: #ebe8dd;

    font-family: $secondary-font-family;
    line-height: rem(24);
  }
}
