.product {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100%;
  padding: rem(10) rem(8) rem(6) rem(8);

  transition:
    color 1000ms ease-in,
    text-shadow 1200ms ease-in;

  color: #38fe3a;
  border-radius: rem(2);
  background-color: rgba(#226621, 0.4);

  &_active {

    .product__price,
    .product__id {
      color: #63e0ed;

      text-shadow: 0 0 rem(4) 0 rgba(#63e0ed, 0.4);
    }
  }

  span {
    text-shadow: 0 0 rem(4) rgba(#38fe3a, 0.4);
  }

  &__name {
    margin-bottom: rem(8);

    font-size: rem(20);
    line-height: rem(26);
  }

  &__desc {
    margin-bottom: rem(14);

    line-height: rem(24);
  }

  &__price { /* stylelint-disable-line no-descending-specificity */
    margin-top: auto;
  }

  &__id { /* stylelint-disable-line no-descending-specificity */
    position: absolute;
    right: rem(6);
    bottom: rem(2);

    font-size: rem(28);
  }
}
